.container_dash {
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  min-height: 625px;
}
.button_center {
  text-align: center !important;
  margin-left: 31%;
}
.card {
  max-width: 450px;
  position: relative;
  display: flex;
  align-items: center;
}
.card-body {
  text-align: center !important;
}
.image_div {
  background-image: url(../../../images/biz_illustration.png);
  min-height: 249px;
  background-repeat: no-repeat;
  max-width: 207px;
  margin-left: 107px;
}
.not_authorize {
  color: white;
  background: #545454;
  min-height: 607px;
  display: flex;
  flex-direction: column-reverse;
  padding: 58px;
}
.directory_content {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  padding: 12px;
}
.directory_content_text {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  padding: 12px;
}
.rateusonlinecard {
  min-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 31%;
}
.not_authorize h1 {
  font-size: 25px;
}
.not_authorize .logoSection img {
  max-width: 536px;
  margin-top: 10px;
}

.container_dash .display {
  display: flex;
  flex: 8;
  flex-direction: column;
}
.container_dash .display .main_display {
  background: #5a5a5a;
  flex: 1;
}
.container_dash .display .logoSection {
  flex-direction: column;
  flex: 1;
  background: #5a5a5a;
  max-height: 61px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid #303033;
  z-index: 100000;
}

.container_dash .display .logoSection img {
  max-width: 288px;
  background: #5a5a5a;
  border-radius: 3px;
  padding: 2px 18px;
  margin: 3px 15px;
}

.not_authorize {
  color: white;
}
