.listing_breadcrumb {
  background-color: #f8f8f8;
  padding: 14px 10px;
}
.main-slide-title {
  position: relative;
  max-height: 288px;
  overflow: hidden;
}
.main-slide-title h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
  color: #036;
  cursor: pointer;
}
.dropdown,
.dropleft,
.dropright,
.dropup {
  position: absolute !important;
  top: 55px !important;
  right: 15% !important;
}
.listing_breadcrumb .breadcrumb {
  margin-bottom: 0px !important;
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #036;
}
.listing_breadcrumb .breadcrumb a {
  color: #036;
  text-decoration: none;
}
.listing_breadcrumb .breadcrumb span {
  color: #f00;
}
.main-slide {
  background-color: #04111fbb;
  padding: 1px;
  min-height: 290px;
  position: relative;
}

.main-slide-title p {
  font-size: 30px;
  font-weight: 100;
  color: #000;
  cursor: pointer;
}
.top-social {
  
}
.top-social a {
  font-size: 12px;
  color: #fff;
  margin-right: 15px;
  display: inline-flex;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.top-social a:hover {
  color: #fff;
  text-decoration: none;
}
.top-social a:last-child {
  margin-right: 0;
}

.top-right-sec {
  padding: 10px 0px;
}
.nav-listing {
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  margin-top: 35px;
}
.fb {
  background-color: #3f5c94;
}
.twit {
  background-color: #00afef;
}
.insta {
  background-color: #3e739d;
}
.whtsap {
  background-color: #3ad249;
}

.nav-listing #nav {
  display: inline-flex;
  list-style: none;
  margin-bottom: 0px;
}
.nav-listing #nav li {
  padding: 12px 20px;
}
.nav-listing #nav li a {
  text-decoration: none;
  color: #036;
  text-transform: uppercase;
}
.blue-bg {
  background-color: #e6f2ff;
}
.gray-bg {
  background-color: #f7f7f7;
}
.listing-table {
  padding:0 0 40px 0;
}
.listing-table .table td {
  border: 0;
}
.check-icon {
  color: #02ba3c;
}
.cancel-icon {
  color: #ec3323;
}
.main-sec-text {
  padding: 40px 0;
}
.text-left-sec h3 {
  font-size: 16px;
  color: #036;
  text-transform: uppercase;
  font-weight: bold;
  margin:15px 0 0 0;
  padding: 0;
}

.text-left-sec p {
  font-weight: normal;
  font-size: 14px;
  margin: 5px 0 0 0;
}
.covid-sec {
  background-color: #036;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  width: 100%;

  text-transform: uppercase;
}
.covid-sec h3 {
  font-size: 18px;
  margin-bottom: 0px;
}
.covid-inner-sec{
  padding: 20px;
}
.common-heading{
  background-color: #036;
  color: #fff!important;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}
.total-online-review-inner {
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  padding: 30px 20px;
}
.compli-sec-01 h4 {
  color: #036;
  font-size: 13px;
  font-weight: bold;
}

.compli-sec-01 a {
  color: #666;
  font-size: 15px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.left-carousel-vd .carousel-indicators {
  bottom: -32px;
}

.left-carousel-vd .carousel-indicators .active {
  background-color: #ec3323;
}
.left-carousel-vd .carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #bcbbbb80;
}

.Podium ul {
  display: flex;
  list-style: none;
}
.Podium ul li {
  padding: 0 4px;
  font-size: 13px;
  display: inline-table;
}
.Podium p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}
.Podium ul li i {
  color: #f33;
}
.top-review .btn {
  background-color: transparent !important;
  color: #036;
  border-color: transparent;
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
}
.top-review .btn:hover {
  background-color: transparent !important;
  color: #036;
  border-color: transparent;
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
}
.top-left-sec {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.Podium {
  margin-left: 2rem;
  margin-top: 1.5rem;
}
.rateusonline-rating {
  padding: 40px 0px;
}
.rating-btn {
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 50px;
  padding: 6px 30px;
}
.show-more-rating-btn {
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 15px;
  font-size: 14px !important;
  text-transform: uppercase;
}
.rating-text {
  color: #036;
}
.total-online-review-inner h4 {
  font-size: 18px;
  color: #036;
}
.total-online-review {
  padding: 40px 0;
}
.share-btn {
  background-color: transparent;
  color: #036;
  border-color: #036;
  padding: 6px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}
.review-comments h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: #036;
}
.comments-btn {
  float: right;
  margin-top: 0px !important;
  background-color: #000;
  border-color: #000;
  padding: 6px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}
ul.chat-message {
  padding: 0;
  margin: 0 0 20px 0;
}
ul.chat-message li {
  list-style: none;
  margin-bottom: 20px;
}
ul.chat-message li.left .chat-item {
  background: rgba(141, 198, 63, 0.1);
  margin-left: 100px;
  padding: 5px 10px;
  position: relative;
  border-radius: 10px;
}
ul.chat-message li.left .chat-item::before {
  border-bottom: 15px solid transparent;
  border-right: 19px solid rgba(141, 198, 63, 0.1);
  border-top: 15px solid transparent;
  content: "";
  height: 0;
  left: -19px;
  position: absolute;
  top: 11px;
  width: 0;
}
ul.chat-message li.left .chat-item .chat-item-header {
  border-bottom: 1px dotted #caef8e;
  margin-bottom: 10px;
}
ul.chat-message li .chat-item .chat-item-header .share {
  position: absolute;
  top: 15px;
  right: 20px;
  transform: rotate(-180deg);
}
.chat-message p {
  font-size: 14px;
}
ul.chat-message li.right .chat-item {
  background: rgba(39, 170, 225, 0.1);
  margin-right: 90px;
  padding: 5px 10px;
  position: relative;
  border-radius: 10px;
}

ul.chat-message li.right .chat-item::after {
  border-bottom: 15px solid transparent;
  border-left: 19px solid rgba(39, 170, 225, 0.1);
  border-top: 15px solid transparent;
  content: "";
  height: 0;
  right: -19px;
  position: absolute;
  top: 10px;
  width: 0;
}
ul.chat-message li.right .chat-item .chat-item-header {
  border-bottom: 1px dotted #bce8f7;
  margin-bottom: 10px;
}
.rateusonline-rating h4 {
  text-transform: uppercase;
  color: #036;
}
.send-message button {
  background: #000;
  color: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.chat-item-header h5 {
  color: #000;
  font-size: 16px;
}
.review-comments {
  padding: 40px 25px 40px 25px;
}
.thumbs-icon {
  float: right;
}
.thumbs-icon ul {
  display: inline-flex;
  list-style: none;
}
.thumbs-icon ul li {
  padding: 0 20px;
}
.thumbs-icon ul li a {
  text-decoration: none;
}
.ups {
  color: #187b3d;
}
.down {
  color: #ff0000;
}
.blue-star {
  color: #036;
}

.chat-item-header small.text-muted {
  color: #036 !important;
}
.map-sec {
  padding: 0 0 40px 0;
}
.input-form {
  background-color: #ededef;
  padding: 12px 9px;
}
@media screen and (max-width: 767px) {
  .main-slide {
    background-color: #bed8f3;
    padding: 40px 0;
    min-height: 400px;
  }
  .main-slide-title h2 {
    font-size: 35px;
  }
  .main-slide-title p {
    font-size: 18px;
  }
  .top-left-sec,
  .top-right-sec {
    flex-direction: column;
    padding: 0 15px;
  }
  .nav-listing #nav {
    display: block;
  }
  .nav-listing #nav {
    padding: 0px 15px;
  }
  section.listing-table {
    padding: 0px;
  }
  .main-sec-text {
    padding: 20px 15px;
  }
}
.banner-section {
  /* background-image: url("../images/slide.jpg"); */
  height: 720px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 0 auto; */
}
.banner-content h2 {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
}
.banner-content p {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.find-section {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}
.find-search {
  padding: 50px 30px 35px 30px;
  background: #fff;
  /*  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0 6px 6px 6px; */
}
.find-search .title {
  color: #003366;
  font-size: 24px;
  text-transform: uppercase;
}
.find-search button {
  padding: 7px 45px;
  background-color: #ff3333;
}
.find-search .form-group .form-control {
  border: 1px solid #ccc;
  padding: 0.445rem 0.75rem;
}
.marquee-section-01 {
  background-color: #f7f7f7;
}
#run-text {
  padding-bottom: 1px;
}
.news-feed .first {
  background-color: #062a4d;
  color: #fff;
}
#run-text {
  background-color: #e6e7e8;
  color: #444;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 0.33rem;
  font-weight: 700;
  text-transform: uppercase;
}

.business-section {
  /* background-image: url(../images/business-bg.jpg); */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0;
}
.business-list {
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  -moz-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  -o-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  padding: 50px 62px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 20px;
}
.business-list h3 {
  font-size: 24px;
  color: #003366;
  text-transform: UPPERCASE;
}
.business-list p {
  color: #666;
  font-size: 14px;
}
.business-list .fill-btn {
  background-color: #f33;
  padding: 8px 14px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.business-list .fill-btn:hover {
  background-color: transparent;
  color: #f33;
  border: 1px solid #f33;
}
.business-list .fill-btn:focus {
  box-shadow: none;
}
/*most popular search*/
.search-use-section {
  background-color: #f7f7f7;
  padding: 90px 0;
}
.search-use-content {
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 30px 40px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.Business-Advertising-content {
  background-color: #f7f7f7;
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 30px 40px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.Business-Advertising-section .title {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.Business-Advertising-section .title h3 {
  font-size: 32px;
  color: #003366;
  text-transform: uppercase;
}
.Business-Advertising-section .title span {
  display: block;
}
.search-use-content .title h5,
.Business-Advertising-section .title h5 {
  font-size: 24px;
  color: #003366;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.Business-Advertising-section .icon i {
  font-size: 32px;
  color: #f33;
  margin-bottom: 20px;
}
.search-use-content .icon {
  width: 52px;
  height: 52px;
  margin: 0 auto;
  background-color: #ffcccc;
  border-radius: 50px;
}
.search-use-content:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  -moz-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  -o-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
}
.search-use-content:hover .icon {
  background-color: #f33;
}
.search-use-content:hover .icon span i {
  color: #fff;
}
.search-use-content .icon span i {
  font-size: 24px;
  color: #f33;
  line-height: 3rem;
}
.search-use-content .content-wrap,
.Business-Advertising-section .content-wrap {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: #666;
}
.Business-Advertising-section {
  background-color: #fff;
  padding: 90px 0;
}
.Business-Advertising-section .review-btn {
  color: #f33;
  border: none;
  background-color: transparent;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.Business-Advertising-section .review-btn:focus {
  outline: none;
}
.Review-Service-section {
  padding: 70px 0px;
}
.review-wrap {
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  -moz-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  -o-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}
.review-details h5 {
  font-size: 18px;
  color: #003366;
  margin-top: 15px;
  text-transform: uppercase;
}
.review-details p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin-bottom: 0px;
}
.review-details .list {
  list-style: none;
}
.review-details .list li {
  display: inline-block;
  color: #f33;
}
.footer-section {
  padding: 70px 0 30px 0;
  background-color: #003366;
}
.footer-wrap {
  color: #fff;
}
.footer-wrap p {
  font-size: 14px;
  line-height: 24px;
}
.imp-links {
  color: #fff;
}
.imp-links h5 {
  font-size: 24px;
  text-transform: uppercase;
}
.imp-links .list {
  list-style: none;
}
.imp-links .list li a {
}
.imp-links .list li:before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50px;
  margin-top: 12px;
  left: 12px;
}
.imp-links .list li a {
  color: #fff !important;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  margin-left: 20px;
}
.address-links h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}
.latest-article-section,
.Most-Popular-Search-section {
  background-color: #f7f7f7;
  padding: 70px 0;
}
.latest-article-section .alt-font,
.top-videos-section .alt-font,
.Most-Popular-Search-section .alt-font,
.Review-Service-section h3 {
  font-size: 32px;
  color: #003366;
  text-transform: uppercase;
  text-align: center;
}
.info {
  display: flex;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.info p {
  margin-top: 10px;
}
.icon-footer {
  background-color: #fff;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  margin-right: 10px;
}
.copyright {
  color: #aeabab;
  text-align: center;
  font-size: 12px !important;
}
.icon-footer i {
  color: #f33;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  display: block;
  line-height: 2.8rem;
}
#popular-search.owl-carousel .carousel-item {
  background: #fff;
  text-align: center;
  background: #fff;
  text-align: center;
  display: block;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}
#popular-search.owl-carousel .carousel-item-text {
  padding: 12px;
}
#popular-search.owl-carousel .carousel-item .item-kicker {
  color: #9a5053;
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  height: 30px;
  margin-bottom: 16px;
  overflow: hidden;
  text-transform: uppercase;
}
#popular-search.owl-carousel .carousel-item .item-title {
  color: #003366;
  font-size: 16px;
  height: 90px;
  margin: 0;
  overflow: hidden;
}
#popular-search.owl-carousel .carousel-item .item-title:hover {
  text-decoration: none !important;
}
#popular-search.owl-dots {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
#popular-search.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}
#popular-search.owl-dot.active {
  background: rgba(0, 0, 0, 1);
}
/* Tabs */
#popular-search.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#popular-search.nav-tabs > li {
  display: block;
  position: relative;
  text-align: center;
}
#popular-search.nav-tabs > li:last-child {
  margin-right: 0;
}
#popular-search.tab-content {
  display: inline-block;
  width: 100%;
}
#popular-search.tab-content .tab-pane {
  display: none;
}
#popular-search.tab-content .tab-pane.active {
  display: block;
}
#popular-search.owl-nav {
  text-align: center;
  display: block !important;
}
#popular-search.owl-carousel .owl-dots.disabled,
#popular-search.owl-carousel .owl-nav.disabled {
  display: block !important;
  position: absolute;
  top: 35%;
  width: 100%;
  color: #fff;
  opacity: 0.8;
}
#popular-search.owl-carousel .owl-dots.disabled,
#popular-search.owl-carousel .owl-nav.disabled button.owl-prev {
  font-size: 30px;
  background-color: #f33;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  color: #fff;
  margin-left: 14px;
}
#popular-search.owl-carousel .owl-nav.disabled button.owl-next {
  font-size: 30px;
  background-color: #f33;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  color: #fff;
  float: right;
  margin-right: 14px;
}
#popular-search.owl-carousel .owl-nav.disabled button.owl-prev:focus,
#popular-search.owl-carousel .owl-nav.disabled button.owl-next:focus {
  outline: none;
}
#popular-search.owl-carousel .owl-nav.disabled button.owl-prev span {
  display: block;
  line-height: 1rem;
}
#popular-search.owl-carousel .owl-nav.disabled button.owl-next span {
  display: block;
  line-height: 1rem;
}
.view-btn {
  border: 0;
  background-color: #f33;
  color: #fff !important;
  font-size: 12px !important;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 20px;
  cursor: pointer;
  background: #ED3324;
  color: #fff;
  padding: 5px 12px;
}
.view-btn:focus {
  outline: none;
}
.top-videos-section {
  padding: 70px 0;
}
#top-videos .carousel-item,
#most-popular-search .carousel-item {
  display: block !important;
}

#most-popular-search .carousel-item.most-popular-details {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 6px;
  text-align: center;
}
#most-popular-search .content-wrap {
  font-size: 14px;
  line-height: 24px;
}
#most-popular-search .carousel-item.most-popular-details .icon {
  background-color: #f33;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin: 0 auto;
}
#most-popular-search .carousel-item.most-popular-details .icon span i {
  font-size: 30px;
  color: #fff;
  line-height: 4rem;
}
.find-btn.alt-font {
  border: 1px solid #f33;
  font-size: 15px;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  color: #f33;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.find-btn:hover {
  background-color: #f33;
  color: #fff;
}
.find-btn:focus {
  outline: none;
}
.most-popular-details .title.alt-font h5 {
  font-size: 18px;
  margin-top: 20px;
}
#most-popular-search .carousel-item.most-popular-details .icon span img {
  width: 30px;
  margin: 0px auto;
  padding-top: 12px;
}
#most-popular-search .owl-dots {
  display: block;
  text-align: center;
  margin-top: 30px;
}
#most-popular-search .owl-dots button.owl-dot.active {
  background-color: #f33;
  width: 12px;
  height: 12px;
  border-radius: 10px;
}
#most-popular-search .owl-dots button.owl-dot {
  background-color: #ccc;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin-left: 10px;
}
#most-popular-search .owl-nav {
  display: none;
}
#most-popular-search .owl-dots button.owl-dot:focus {
  outline: none;
}
#top-videos .carousel-item.vd-fature {
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 12px #97a1b21a;
  box-shadow: 0px 15px 21px #97a1b21a;
}
#top-videos .carousel-item.vd-fature .vd-details {
  position: relative;
  height: 100px;
  padding: 0px 20px;
}

#top-videos .carousel-item.vd-fature .vd-details h3.alt-font {
  font-size: 16px;
  margin-top: 30px;
}
#top-videos .carousel-item.vd-fature .vd-details a.feature-icon {
  height: 46px;
  width: 46px;
  line-height: 46px;
  text-align: center;
  position: absolute;
  right: 12px;
  top: -56px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.3);
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.3);
}
#top-videos .carousel-item.vd-fature .vd-details a.feature-icon img {
  width: auto !important;
  margin: 11px auto;
}
#top-videos .owl-dots {
  display: block;
  text-align: center;
}
#top-videos .owl-dots button.owl-dot.active {
  background-color: #f33;
  width: 12px;
  height: 12px;
  border-radius: 10px;
}
#top-videos .owl-dots button.owl-dot {
  background-color: #ccc;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin-left: 10px;
}
#top-videos .owl-dots button.owl-dot:focus {
  outline: none;
}
.js-anchor-link.alt-font {
  text-transform: capitalize;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .search-use-content {
    padding: 20px 4px;
    min-height: 230px;
  }
  .review-wrap {
    min-height: 253px;
  }
  .review-wrap img {
    width: 100%;
  }
  .js-anchor-link.alt-font {
      text-transform: capitalize;
  }
}
@media screen and (max-width: 575px) {
  .banner-content h2 {
    font-size: 32px;
  }
  .js-anchor-link.alt-font {
    text-transform: capitalize;
  }
  .Business-Advertising-section .title h3 {
    font-size: 20px;
  }
  .business-list {
    padding: 30px 22px;
  }
  .banner-content p {
    font-size: 14px;
    text-align: left;
    line-height: 24px;
  }
  .search-use-content .title h5,
  .Business-Advertising-section .title h5,
  .Business-Advertising-section .review-btn {
    font-size: 16px;
  }
  .review-wrap img {
    width: 100%;
  }
}
