.covid-inner-sec .fa-star {
  color: #003365e6;
  border: 1px solid #00336526;
  padding: 5px;
}

.covid-inner-sec .fa-star-o {
  color: #003365e6;
  border: 1px solid #00336526;
  padding: 5px;
}
.user-login-form .submit-btn {
  width: auto!important;
  margin: 0 auto!important;
}